/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  background-color: #e0115f;
  color: white;
  padding: 10px 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
}

header nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

header nav a:hover {
  text-decoration: underline;
}

/* Main Section */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form {
  background: #f4c2c2;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(255, 0, 0);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #010a18;
}

.login-form label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-form input:focus {
  border-color: #e0115f;
  outline: none;
}

.login-form .btn {
  background-color: #e0115f;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;